header {
	text-align: center;
	color: rgb(0,0,0);
}
body {

	color: rgb(0,0,0);
	font-size: 22px;
	font-family: Helvetica, Sans-serif;	
	margin: 0;
	padding: 0;

}
h1 {
	font-size: 70px;
	color: rgb(0,0,0);
	font-family: Helvetica, Sans-serif;
}
h5 {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
#slogan{
	font-style: italic;
	font-size: 18px;
	color: rgb(0,0,0);
}
ul {
    padding: 10px;
    background: black;
    text-align: center;
    }
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    }
a {
	color: white;
}
img {
	margin: 45px 0px 0px 0px;
	border: 8px solid black;
	border-radius: 20px
}
nav {
	background-color: black;
	text-align: right;
	padding: 25px;

}

nav a {
	text-decoration: none;
	margin: 0 12px;	
}