body {
	background-color: 255,255,255;	 
	color: 0,0,0;
	font-size: 22px;
	font-family: Helvetica, Sans-serif;


}
h1 {
	background-color: 0,0,0;
	font-size: 36px;
	 color: 255,255,255
	 font-family: Helvetica, Sans-serif;

}
#slogan{
	text-decoration: italic
}