header {
	text-align: center;
	color: 0, 0, 0;
}
body {

	color: 0, 0,0;
	font-size: 22px;
	font-family: Helvetica, Sans-serif;	
}
h1 {
	background-color: 0,0,0;
	font-size: 70px;
	color: 0,0,0;
	font-family: Helvetica, Sans-serif;
}
h5 {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
#slogan{
	font-style: italic;
	font-size: 18px
	color: 0, 0, 0;
}
ul {
    padding: 10px;
    background: black;
    text-align: center;
    }
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    }
a {
	color: white;
}
img {
	margin: 45px 0px 0px 0px;
	border: 8px solid black;
	border-radius: 20px
}