header {
	background-color: white;
	padding: 25px;

}
header a {
		color: black;
	font-family: 'Helvetica', sans-serif;
	text-decoration: none;
	margin: 0 12px;	
}

nav {
	float: right;
	/*background: rgb(255,255,255);*/
	/*padding: 25px;*/
	background-position: fixed;
	text-align: right;	
}

nav a{
	color: black;
	font-family: 'Helvetica', sans-serif;
	text-decoration: none;
	margin: 0 12px;	
}

body{
	padding: 0px;
	margin: 0px;
}
span{
	color: white;
	font-size: 50px;
	font-family: Helvetica;
	line-height: 1.5em;
	padding: 6px 0;
}

img{
	max-width: 100%
}

#splash {
  background-repeat: no-repeat;	
  background-image: url(https://lh6.googleusercontent.com/-66Tg94qbYZc/Ui-CURaOgKI/AAAAAAAA_Lk/mIj_hl-5Rs0/Amazing+Annimated+Gif+by+Lachlan+Burrows.gif);
  background-size: 100%;
  background-color: #f7f7f7;
  background-attachment: fixed;
  height: 95vh;
  padding: 400px 0 0 0;
}
#home{
	background-color: rgba(0,139,139,.7);
	background-size: 200px 1200px;
}
#aboutbackground{
background-repeat: no-repeat;	
  background-image: url(https://31.media.tumblr.com/23591c098c1ae1320cde67a4db4ef027/tumblr_mvlfbv3IaW1sh134eo1_500.gif);
  background-size: 100%;
  background-color: #f7f7f7;
  background-attachment: fixed;
  height: 95vh;
  padding: 400px 0 0 0;	
}

#address{
	font-family: helvetica;
	text-decoration: underline;
	display: block;
	background: rgba(3,3,3,.7);
	padding: 12px;
	margin: 12px;
	
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	clear:
}
#work{}

#contactbackground{
  background-repeat: no-repeat;	
  background-image: url(https://38.media.tumblr.com/a39558a4d09ee15e411c2c18cf8ecc97/tumblr_n6dtk9WJVG1t1gcuno1_500.gif);
  background-size: 100%;
  background-color: #f7f7f7;
  background-attachment: fixed;
  height: 95vh;
  padding: 400px 0 0 0;	
}


footer{
	text-align: right;
	text-decoration: none;
	padding: 25px;
	background-position: fixed;
}
footer a{
	color: black;
	font-family: 'Helvetica', sans-serif;
	text-decoration: none;
	margin: 0 12px;	
}