
nav {
	background: rgb(0,0,0);
	text-align: left;
}

body{
	background-image: url();
}
span{
	background-color: black;
	color: white;
	font-size: 28px;
	font: Helvetica;
	font-family: sans-serif;
}
div{}
#home{
		background-color: rgba(0,0,0,.7);
}
#about{}
#work{
	padding: 2px;
	margin: 2px;
}
#contact{}
#hero{}